img {
  width: 40%;
}

main {
  text-align: center;
}
div {
  margin: 1em 0em;
}
button {
  color: white;
  background-color: rgb(200, 5, 5);
  border-radius: 25px;
}
button:hover {
  color: rgb(200, 5, 5);
  background-color: white;
  border: 1px solid rgb(200, 5, 5);
}
h1 {
  font-size: 100px;
  background-color: darkorange;
  display: inline;
  box-shadow: 17px 10px 0px 2px rgb(5, 184, 224);
}
